.wrapper{
    border: 1.5px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 10px 50px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}